.ant-btn {
    height: 42px;
    line-height: 42px;
    padding: 0px 18px;
    border-radius: 24px;
}

.btn-secondary-solid {
    color: map-get($colors, white);
    background-color: map-get($colors, secondary);
    border-color: map-get($colors, secondary);

    &:hover,
    &:active,
    &:focus {
        color: map-get($colors, white);
        background-color: map-get($colors, secondary-tint);
        border-color: map-get($colors, secondary);
    }
}

.btn-secondary-outlined {
    color: map-get($colors, secondary);
    background-color: transparent;
    border-color: map-get($colors, secondary);

    &:hover,
    &:active,
    &:focus {
        color: map-get($colors, white);
        background-color: map-get($colors, secondary);
        border-color: map-get($colors, secondary);
    }
}

.btn-circle {
    height: 42px;
    width: 42px;
    line-height: 42px;
    padding: 0px;
    border-radius: 50%;
}

.btn-fab {
    position: absolute;
    margin: 24px;
}
