.ant-input {
    height: 42px;
    line-height: 42px;
    padding: 0px 18px;
    border-radius: 24px;

    &:hover,
    &:active,
    &:focus {
        border-color: map-get($colors, secondary);
        box-shadow: none !important;
    }
}

.ant-form-explain {
    padding: 0px 18px;
    margin-bottom: 24px !important;
}

.ant-select {
    height: 42px;
    line-height: 42px;

    .ant-select-selection {
        height: 42px;
        line-height: 42px;
        border-radius: 24px;

        &:hover,
        &:active,
        &:focus {
            border-color: map-get($colors, secondary);
            box-shadow: none !important;
        }

        .ant-select-selection__rendered {
            height: 42px;
            line-height: 42px;
            margin-left: 18px;
        }
    }
}
