.ant-layout-header {
    color: map-get($colors, secondary);
    background: map-get($colors, primary);
}

.website-layout-header {
    padding: 0;
}

.backoffice-layout-header {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.header-content-container {
    width: 100%;
    height: 64px;
    line-height: 64px;
    display: flex;
    flex-direction: row;
}

.header-item {
    box-sizing: border-box;

    .sider-toggle-btn {
        font-size: 22px;
        padding: 21px 16px;
        cursor: pointer;
        transition: color 0.3s;
        color: #FFFFFF;

        &:hover {
            color: map-get($colors, secondary);
        }
    }

    .logo {
        height: 60%;
    }
}

.header-item+.header-item {
    margin-left: 24px;
}

.space-filler {
    flex: 1;
}
