@import '../../assets/styles/main.scss';


.left-column {
    background-image: url(../../assets/imgs/sign-in-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    text-align: right;
    
    .website-layout-column-content-container {

        h1 {
            color: map-get($colors, white) !important;
            margin-bottom: 0px;
        }
    }
}

.right-column {

    .website-layout-column-content-container {

        h2 {
            max-width: 200px;
            margin-top: 2em;
            margin-left: 18px;
        }

        .ant-btn-block+.ant-btn-block {
            margin-top: 12px;
        }
    }
}
