$colors: (
    primary: #100C25,
    primary-shade: #0E0B21,
    primary-tint: #28243B,
    secondary: #FF9C39,
    secondary-shade: #E08932,
    secondary-tint: #FFA64D,
    success: #10DC60,
    warning: #FFCE00,
    danger: #F04141,
    white: #FFFFFF,
    black-dark: #45484D,
    black-medium: #8A9199,
    black-light: #E5E5E5,
    black-lightest: #F3F3F3,
    background: #FFFFFF
);
