@import '../../assets/styles/main.scss';

.search-section {
    margin: 2.5vw;
    display: flex;
}

.sponsors-list {
    display: flex;
    flex-direction: column;
}

.separator {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.sponsor-details-card {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: baseline;
    .event-title {
        color: map-get($colors, secondary);
    }
}